<h1>Deposit Form for the Tufts Digital Library</h1>

<p>From this page you may deposit your scholarly work to the Tufts Digital Library. This service is available for:

<ul>
  <li>Undergraduate honors theses</li>
  <li>Faculty scholarship</li>
  <li>Fletcher School capstone project</li>
  <li>Graduate School of Arts and Science Education Qualifying  Papers</li>
</ul>

Depositing your material to the Tufts Digital Library will require you to upload your file(s) and agree
to the Tufts Digital Library terms and conditions.</p>

<p>Submission of certain types of materials may be restricted pending approval of the relevant school
or department. Please contact your school or department for additional information.</p>

<p>To submit your scholarship, log in using your Tufts username and password.  </p>

<p><%= link_to "Login", new_user_session_path, class: 'btn-primary btn' %></p>

<p><a href="http://uit.tufts.edu/?pid=744">
  <img src="https://library.tufts.edu/screens/Logo2-35pxNoText.png" alt="Tufts Simplified Sign-On"
       height="35" width="35" />Tufts Simplified Sign-On Enabled</a></p>