      <div class="controls">
        <%= select_tag "#{@record.class.model_name.underscore}[#{key.to_s}][]", options_for_select(%w(dl tisch aah perseus elections dark), v), include_blank: true, id: "#{@record.class.model_name.underscore}_#{key.to_s}",  class: "input-large" %>
      </div>



