<div class="blue-footer container">
  <div class="row">

    <div class="span6">
      <%= link_to image_tag('tuftsuniversity.png', :alt => 'Go to tufts.edu'), "http://www.tufts.edu" %>
    </div>

    <div class="row pull-right">
      <div class="span3" id="copyright">
        <span> &copy; 2012 Tufts University </span>
      </div>
    </div>

  </div>
</div>
