<div id="header-navbar-fixed-top" class="navbar navbar-fixed-top">
  <div class="blueline"></div>
  <div class="navbar-inner">
    <div class="container">
      <div class="row">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <div class="span3">
          <%= link_to image_tag('mira.png', :class => "brand", :alt => 'Home'), root_path %>
        </div>

        <div class="span6 clearfix" id="searchbar">
          <% unless controller_name.in?(['contribute','templates','records']) %>
            <%= render_search_bar %>
            <div id='search_link'>
              <%= link_to 'Advanced Search', advanced_search_path %>
            </div>
          <% end %>
        </div>

        <div class="span3 nav-collapse">
          <%= render :partial => '/user_util_links' %>
        </div>

      </div>
    </div>
  </div>
</div>
