<h1>Deposit Types</h1>

<table>
  <tr>
    <th>Display Name</th>
    <th>Deposit Agreement</th>
  </tr>

  <% @deposit_types.each do |deposit_type| %>
      <tr>
        <td><%= link_to deposit_type.display_name, deposit_type_path(deposit_type) %></td>
        <td><%= deposit_type.deposit_agreement %></td>
      </tr>
  <% end %>
</table>