<% # container for all documents in index view -%>
<div id="documents">
  <%= check_box_tag 'check_all', 'yes', @all_checked  %>

  <%= button_tag "Apply Template", type: :submit, name: 'batch[type]', value: "BatchTemplateUpdate", class: "btn btn-primary", 'data-behavior'=>'batch-create'%>

  <%= button_tag "Publish", type: :submit, name: 'batch[type]', value: "BatchPublish", class: "btn btn-primary", 'data-behavior'=>'batch-create'%>

  <%= render documents, :as => :document %>
</div>
