<h1>Here we are</h1>

ROLES: <pre><%= current_user.roles.inspect %></pre>
Groups: <pre><%= current_user.groups.inspect %></pre>

<nav>
<%= link_to "Create a new object", hydra_editor.new_record_path() %>
</nav>
