
<% if current_user.admin? %>
<h1>Tufts Digital Library Admin</h1>
<% else %>
<h1>Contributor Deposit</h1>
<% end %>

<nav>
  <ul>
    <% if current_user.admin? %>
      <li><%= link_to "Create a new object", hydra_editor.new_record_path()%></li>
      <li><%= link_to "Unpublished objects", unpublished_index_path()%></li>
      <li><%= link_to "Manage self-deposit types", deposit_types_path %></li>
    <% else %>
        <li><%= link_to "Deposit a new document", new_self_deposit_path %></li>
    <% end %>
  </ul>
</nav>
