<%= render partial: 'show_default', locals: {document: document} %>

<h3>Mp3</h3>
<audio controls>
  <source src="<%= download_path(document.id, datastream_id: 'ACCESS_MP3') %>" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<h3>XML</h3>
<%= link_to "Download", download_path(document.id, datastream_id: 'ARCHIVAL_XML') %>

