<%= form_for @record, :url=>@record.new_record? ? hydra_editor.records_path : hydra_editor.record_path(@record) do |f| %>
  <input id="fileupload" type="file" name="files[]" multiple>
  <div id="progress" class="progress progress-striped">
      <div class="bar" style="width: 0%;"></div>
  </div>
<% end %>

