@import 'bootstrap';
@import 'blacklight/blacklight';

.navbar .navbar-brand {
  background: none;
  width: 216px;
  text-indent: 0;
  padding: 0;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.7em;
}

.navbar-collapse {
  padding-top: 1em;
}

#searchbar {
  padding-top: 0.5em;

  form {
    width: 450px;
    margin-left: 1em;
  }
}

#search_link {
  width: 100%;
  text-align: center;
  padding-bottom: 0.5em;
}
