// Place all the styles related to the Catalog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.document-checkbox {
  margin: 6px 5px 6px 0px;
}

#check_all {
  margin-right: 5px;
}

#selected_documents_count {
  border-bottom: 1px dotted #CCCCCC;
  padding: 0.5em 0 0.5em 2em;

  /* Reserve space so that the page won't rearrange when the javascript adds the content to that div */
  min-height: 20px;
}

.documentHeader {
  margin-left: 0px;
}

.drop-target-hover {
  background-color: lightgray;
}
