// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-actions.floating {
  position: fixed;
  top: 210px;
  right: 180px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}

#descriptions_display {
  h3 {
    small {
      font-size: 17.5px;
      clear: right; // make sure this appears below any thumbnails
    }
  }
}

.record_relationship_fields {
  margin-bottom: 0.25em;
}
