
$error_color: #d22;
$hint_color: #777;

form.button_to {
  display: inline;

  > div {
    display: inline;
  }

}

input.input-large {
  width: 365px;
}

.float-right { float: right; }
.clear { clear: both; }

#error_explanation {
  border: 3px solid $error_color;
  background-color: #eee;
  padding: 0.5em 1em 1em 1em;
  margin-bottom: 1em;
}

.hint {
  color: $hint_color;
  font-weight: normal;
}

label {
  font-weight: bold;
}
