<p>Select the Deposit Type</p>
<%= f.select :rights, TuftsDepositType.all.sort_by{|dt| dt.display_name.downcase}.collect{|p| [ p.display_name ] }.unshift(['Please select a deposit option']), :disabled => "Please select a deposit option", :selected => "Please select a deposit option", include_blank: :false%>
