<h1>Self submission</h1>

<p>[placeholder for text describing self-submission]

<p>[do we want a list of the current_user's self-submissions?]

<hr>
<%= link_to 'Create a new self-deposit', new_self_deposit_path %>