<h1>Self submission</h1>

<%# TODO: remove this step and/or figure out a cleaner way to handle self-deposit with fewer clicks %>

<p>[placeholder for text describing self-submission]

<p>[do we want a list of the current_user's self-submissions?]

<hr>
<%= link_to 'Create a new self-deposit', new_self_deposit_path %>