<h1>Create a new self-deposit record</h1>

<%= form_for @self_deposit, :url=>self_deposits_path do |f| %>
    <%= render "#{@self_deposit.current_step}_step", :f => f %>

    <p><%= f.submit "Back", :name => "back_button" unless @self_deposit.first_step? %></p>
    <p><%= f.submit "Continue" %></p>

<% end %>
