<div class="document <%= render_document_class curated_collection %>" itemscope itemtype="<%= curated_collection.itemtype %>">
  <%= render_document_partials curated_collection, blacklight_config.view_config(document_index_view_type).partials - [:thumbnail], document_counter: curated_collection_counter %>
</div>
